.root {
  margin-bottom: 80px;
  padding: 0 8%;

  .holaContainer {
    text-align: center;
  }

  h2 {
    margin-bottom: 8rem;
    font-weight: 300;
    font-size: 40px;
    line-height: 1.3em;
    color: #4a4a4a;
    text-align: center;
  }

  img {
    margin-top: 6rem;
    height: 200px;
    border-radius: 100%;
  }

  p {
    color: #4a4a4a;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 1.7em;
  }

  hr {
    margin-left: 0;
  }
}
