.root {
  margin-bottom: 80px;
  padding: 0 8%;

  h2 {
    margin-top: 6rem;
    margin-bottom: 8rem;
    font-weight: 300;
    font-size: 40px;
    line-height: 1.3em;
    color: #4a4a4a;
  }

  p {
    color: #4a4a4a;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 1.7em;
  }
}
