.root {
  position: absolute;
  top: 30px;
  left: 30px;

  a {
    display: flex;
    align-items: end;

    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 18px;
  }

  img {
    height: 20px;
    margin-right: 10px;
  }
}
