.root {
  padding: 0 8%;
  margin-bottom: 5rem;

  @media (max-width: 1024px) {
    padding: 0 !important;
  }

  h1 {
    background: linear-gradient(to right, #FC466B, #3F5EFB);
    font-weight: 100;
    font-size: 40px;
    line-height: 1.3em;
    color: #4a4a4a;
    margin-top: 6rem;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
