.root {
  padding: 0 8%;
  margin-bottom: 5rem;

  @media (max-width: 1024px) {
    padding: 0 !important;
  }

  h1 {
    font-weight: 100;
    font-size: 40px;
    line-height: 1.3em;
    color: rgba(74,74,74,.76);
    margin-top: 6rem;

    >div {
      color: #3f5efb;
    }
  }
}
