.root {
  position: relative;

  .navbar {
    position: fixed !important;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #fff;

    a:hover{
      color: rgba(137,148,159,.7);
    }

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      border-bottom: 1px solid #eaeaea;
      max-width: 1024px;

      @media (max-width: 1024px) {
        .title {
          padding: 18px 0 18px 5% !important;
        }

        .about {
          padding: 18px 5% 18px 0 !important;
        }
      }

      .title {
        padding: 18px 0;
        text-decoration: none;
        font-weight: 400;
        color: #4a4a4a;
        min-width: 150px;
      }

      .about {
        padding: 18px 0;
        text-decoration: none;
        font-size: 16px;
        color: #89949f;
      }
    }
  }

  .content {
    margin: 0 auto;
    margin-top: 130px;

    max-width: 1024px;

    @media (max-width: 1024px) {
      padding: 0 5% !important;
    }
  }
}
