.root {
  .wrapper {
    margin: 10px;
    z-index: 2;
    background: white;
  }

  .content {
    margin: 0 auto;
    max-width: 1024px;

    @media (max-width: 1024px) {
      padding: 0 5% !important;
    }
  }
}
