.root {
  margin-bottom: 80px;

  .list {
    list-style: none;
    padding: 50px 8% 0 8%;

    @media (max-width: 1024px) {
      padding: 50px 0 0 0;
    }

    li {
      a:hover {
        text-decoration: none;
      }

      p {
        padding: 17px 0;
        margin: 0;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.2em;
        color: #999;
      }

      h2 {
        margin: 0;
        font-weight: 300;
        font-size: 35px;
        line-height: 1.2em;
        color: #4a4a4a;
      }

      button {
        text-decoration: none;
        border: none;
        text-align: center !important;
        background-color: #53adfb;
        border-radius: 5px;
        transition: .1s background-color linear;
        padding: 15px 20px;
        color: #fff;
        border-color: none;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 400;
        width: 220px;
        cursor: pointer;

        margin-bottom: 50px;

        &:hover {
          background: #0bf;
        }
      }

      img {
        width: 100%;
      }
    }


    li + li {
      margin-top: 2rem;
      padding-top: 3rem;
      border-top: 1px solid #eaeaea;
    }
  }
}

.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
  transform: translateX(8px);
}
