* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 18px;

  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

html {
  border: 10px solid blue;
  min-height: 100vh;
}

hr {
  background-color: #c1c1c1;
  border: 1px;
  height: 1px;
  width: 150px;
  margin: 80px 0 80px 8%;
}

@media (max-width: 1024px) {
  hr {
    margin-left: 0 !important;
  }
}

@media (max-width: 700px) {
  hr {
    width: 100%;
  }
}

a {
  color: #f14773;
  text-decoration: none;
}

a:hover {
  color: #f14773;
  text-decoration: underline;
}
